body{

font-family:'Poppins',sans-serif;
margin:0;
background:linear-gradient(135deg,#e8f5e9,#ffffff);

}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#2e7d32;
color:white;

}

nav a{

margin:10px;
text-decoration:none;
color:white;
font-weight:500;
transition:0.3s;

}

nav a:hover{

color:#c8e6c9;

}

.hero{

text-align:center;
padding:120px 20px;

animation:fadeIn 2s;

}

.hero h2{

font-size:40px;
color:#1b5e20;

}

.hero p{

font-size:18px;

}

button{

padding:12px 25px;
background:#43a047;
border:none;
color:white;
border-radius:30px;
font-size:16px;
cursor:pointer;
transition:0.3s;

}

button:hover{

transform:scale(1.1);
background:#2e7d32;

}

.features{

padding:80px 20px;
text-align:center;

}

.feature-box{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}

.card{

background:white;
padding:30px;
width:250px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
transition:0.4s;

}

.card:hover{

transform:translateY(-10px);
box-shadow:0 20px 40px rgba(0,0,0,0.2);

}

footer{

background:#1b5e20;
color:white;
text-align:center;
padding:20px;

}

@keyframes fadeIn{

from{opacity:0;transform:translateY(30px)}
to{opacity:1;transform:translateY(0)}

}

.form-container{

width:350px;
margin:100px auto;
padding:30px;
background:white;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:center;
animation:fadeIn 1.5s;

}

input,select{

width:90%;
padding:10px;
margin:10px;
border-radius:8px;
border:1px solid #ccc;

}

.dashboard{

text-align:center;
padding:80px;

}

.market{

text-align:center;
padding:80px;

}

.product-grid{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;

}

.product-card{

background:white;
padding:20px;
width:220px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
transition:0.3s;

}

.product-card:hover{

transform:translateY(-10px);

}

.product-card{

background:white;
padding:20px;
border-radius:15px;
width:220px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
transition:0.3s;

}

.product-card img{

border-radius:10px;
margin-bottom:10px;

}

.product-card:hover{

transform:translateY(-10px);
box-shadow:0 20px 40px rgba(0,0,0,0.2);

}

